<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>

<div>

    <div id='DOC_11rvfbjkjbeoxh5'>
      <script type='text/javascript'>
        var docCont={
          content_id:'DOC_11rvfbjkjbeoxh5',
          content_sizes:['300 x 250'],
          click:'DOCEREE_CLICK_URL_UNESC'
        };
        var docereeAds = docereeAds || {};
        docereeAds[docCont.content_id] = docCont;
      </script>
      <script type='text/javascript' src="https://dev-servedbydoceree.doceree.com/resources/d/render.js">
      </script>
    </div>
    <div id="DOC_11rvfbjkjbek9ch">
        <script type="text/javascript">
        var docCont={
            content_id:"DOC_11rvfbjkjbek9ch",
            content_sizes:["320 x 50"],
            click:"DOCEREE_CLICK_URL_UNESC"
          };
          var docereeAds = docereeAds || {};
          docereeAds[docCont.content_id] = docCont;
        </script>
        <script type="text/javascript" src='https://dev-servedbydoceree.doceree.com/resources/d/render.js'>
        </script>
    </div>
</div>


<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>