<div class="row" style="margin-top: 25px;">
  <p>Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been the industry's standard
    dummy text ever since the 1500s, when an unknown printer took a
    galley of type and scrambled it to make a type specimen book. It
    has survived not only five centuries, but also the leap into
    electronic typesetting, remaining essentially unchanged. It was
    popularised in the 1960s with the release of Letraset sheets
    containing Lorem Ipsum passages, and more recently with desktop
    publishing software like Aldus PageMaker including versions of
    Lorem Ipsum. ive centuries, but also the leap into electronic
    typesetting, remaining essentially unchanged. It was popularised in
    the 1960s with the release of Letraset sheets containing Lorem
    Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum. t is a long
    established fact that a reader will be distracted by the readable
    content of a page when looking at its layout. The point of using
    Lorem Ipsum is that it has a more-or-less normal distribution of
    letters, as opposed to using 'Content here, content here', making
    it look like readable English. Many desktop publishing packages and
    web page editors now use Lorem Ipsum as their default model text,
    and a search for 'lorem ipsum' will uncover many web sites still in
    their infancy. Various versions have evolved over the years,
    sometimes by accident, sometimes on purpose</p>
</div>
<div class="row">
  <div class="image_container9" style="margin-top: 25px">
    <img src="../../../assets/image/970x90.jpeg" width="970" height="90" alt="test">
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="image_container7" style="margin-top: 25px">
      <img src="../../../assets/image/300x250.jpg" width="300" height="250" alt="test">
    </div>
  </div>
  <div class="col-sm-8">
    <p>Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a
      galley of type and scrambled it to make a type specimen book. It
      has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of
      Lorem Ipsum. t is a long established fact that a reader will be
      distracted by the readable content of a page when looking at its
      layout. The point of using Lorem Ipsum is that it has a
      more-or-less normal distribution of letters, as opposed to using
      'Content here, content here', making it look like readable
      English. Many desktop publishing packages and web page editors now
      use Lorem Ipsum as their default model text, and a search for
      'lorem ipsum' will uncover many web sites still in their infancy.
      Various versions have evolved over the years, sometimes by
      accident, sometimes on purpose (injected humour and the like).</p>
  </div>
</div>

<div class="row">
  <div class="image_container9" style="margin-top: 25px">
    <img src="../../../assets/image/728x90.png" width="728" height="90" alt="test">
  </div>
</div>

<div class="row">
  <div class="col-sm-8" >
    <p>Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a
      galley of type and scrambled it to make a type specimen book. It
      has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of
      Lorem Ipsum. ive centuries, but also the leap into electronic
      typesetting, remaining essentially unchanged. It was popularised
      in the 1960s with the release of Letraset sheets containing Lorem
      Ipsum passages, and more recently with desktop publishing software
      like Aldus PageMaker including versions of Lorem Ipsum. t is a
      long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point
      of using Lorem Ipsum is that it has a more-or-less normal
      distribution of letters, as opposed to using 'Content here,
      content here', making it look like readable English. Many desktop
      publishing packages and web page editors now use Lorem Ipsum as
      their default model text, and a search for 'lorem ipsum' will
      uncover many web sites still in their infancy. Various versions
      have evolved over the years, sometimes by accident, sometimes on
      purpose</p>
  </div>
  <div class="col-sm-4">
    <div class="image_container9" style="margin-top: 25px">
      <img src="../../../assets/image/325x250.jpg" width="336" height="280" alt="test">
    </div>
  </div>
</div>

<div class="row" style="margin-top: 25px; text-align:justify">
  <p>Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been the industry's standard
    dummy text ever since the 1500s, when an unknown printer took a
    galley of type and scrambled it to make a type specimen book. It
    has survived not only five centuries, but also the leap into
    electronic typesetting, remaining essentially unchanged. It was
    popularised in the 1960s with the release of Letraset sheets
    containing Lorem Ipsum passages, and more recently with desktop
    publishing software like Aldus PageMaker including versions of
    Lorem Ipsum. ive centuries, but also the leap into electronic
    typesetting, remaining essentially unchanged. It was popularised in
    the 1960s with the release of Letraset sheets containing Lorem
    Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum. t is a long
    established fact that a reader will be distracted by the readable
    content of a page when looking at its layout. The point of using
    Lorem Ipsum is that it has a more-or-less normal distribution of
    letters, as opposed to using 'Content here, content here', making
    it look like readable English. Many desktop publishing packages and
    web page editors now use Lorem Ipsum as their default model text,
    and a search for 'lorem ipsum' will uncover many web sites still in
    their infancy. Various versions have evolved over the years,
    sometimes by accident, sometimes on purpose</p>
</div>
